.player-box{
    /* display: flex; */
    /* background-color: red; */
    width: 300px;
    height: 265px;
    margin: 0 auto;
    padding-top: 100px;
    /* justify-content: center; */
    border: solid grey 5px;
    border-radius: 10px;

    /* align-content: center; */
}
.body1{
    background-color:#282727;
    height: 88.5vh;
}
.player-btn{
    /* background-color: green; */
    /* width: 10%; */
    /* height: 10%; */
    border: solid black 2px;
    width: 40px;
    height: 60px;
    margin: 7px;
        border-radius: 10px;

}

.inactive{
    display: none;
}

.playersname{
    display: flex;
    /* background-color: aquamarine; */
    justify-content: space-between;
    width: 30%;
    margin: 0 auto;
    padding-top: 60px;
    padding-top: 10px;

}

.activeColor{
    background-color: rgb(37, 108, 144);

}
.disableColor{
background-color: white;
}
.waiting-text{
font-size: 30px;
  text-decoration: none;
  /* color: rgba(70, 11, 121, 0.989);
   */
   color: #48739b;
  font-weight: bold;
  font-family: "Anton", sans-serif;
  padding-top: 20px;
}